<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

  <uses-feature
      android:name="android.hardware.camera"
      android:required="false" />

  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.CAMERA"/>

  <application
      android:name=".MyApplication"
      android:allowBackup="true"
      android:dataExtractionRules="@xml/data_extraction_rules"
      android:fullBackupContent="@xml/backup_rules"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:theme="@style/Theme.SearchRestroom"
      tools:targetApi="31">
    <meta-data
      android:name="com.google.android.geo.API_KEY"
      android:value="${MAPS_API_KEY}"/>
    <meta-data
      android:name="com.google.android.gms.version"
      android:value="@integer/google_play_services_version"/>
    <uses-library android:name="org.apache.http.legacy"
      android:required="false"/>
    <activity
        android:name=".mainPage.MainActivity"
        android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
        android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
        android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data
          android:host="oauth"
          android:scheme="@string/scheme_kakao_app_key" />
      </intent-filter>
    </activity>
    <activity android:name=".mainPage.SearchListActivity"/>
    <activity android:name=".member.LoginActivity" />
    <activity android:name=".member.RegisterActivity" />
    <activity android:name=".member.GoogleLogin" />
    <activity android:name=".restroomDetail.RestroomDetailActivity" />
    <activity android:name=".myPage.MyPageActivity"/>
    <activity android:name=".myPage.FavoriteActivity"/>
    <activity android:name=".myPage.EditInfoActivity"/>
    <activity android:name=".myPage.MyReviewActivity"/>
    <activity android:name=".review.ReviewRegActivity" />
    <activity android:name=".review.ReviewUpdateActivity" />
    <activity android:name=".restroomDetail.RestroomUpdateActivity" />
    <activity android:name=".review.ReviewListAllActivity" />
    <activity android:name=".member.FindIdActivity" />
    <activity android:name=".member.FindPwActivity" />
    <activity android:name=".admin.AdminActivity"
        android:launchMode="singleTask"/>
    <activity android:name=".admin.AdminDeleteActivity"/>

    <provider
        android:authorities="com.busanit.searchrestroom.fileprovider"
        android:name="androidx.core.content.FileProvider"
        android:exported="false"
        android:grantUriPermissions="true">
      <meta-data
          android:name="android.support.FILE_PROVIDER_PATHS"
          android:resource="@xml/file_paths" />
    </provider>

    <activity
        android:name=".mainPage.AddRestroomActivity"
        android:exported="false"
        android:screenOrientation="portrait" />
    
  </application>

</manifest>